.cyberawareness{
    font-family: 'Oxygen', sans-serif;
    width: 23rem;
    height: 33rem;
    margin: 1rem;
    border-radius: 0.5rem;
    /* overflow: auto; */
    /* -webkit-box-shadow: 0px 0px 10px 1px rgba(196, 196, 196, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(196, 196, 196, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(196, 196, 196, 0.75); */
}
.twitter-embed{
    overflow: auto;
    height: 20rem;
    border-radius: 0.5rem;
    background-color: white;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(196, 196, 196, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(196, 196, 196, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(196, 196, 196, 0.75);
}
.twitter-embed::-webkit-scrollbar {
    display: none;
  }
.contact-details{
    height: 10rem;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(196, 196, 196, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(196, 196, 196, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(196, 196, 196, 0.75);
    padding: 1rem;
    border-radius: 0.5rem;

}